.melody-trails {
    background-color: #D7E9B9;
    border: 0px solid #000;
    width: 1180px;
    /* height: 55%; */
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
