.melody-trails {
    background-color: #ddd;
    border: 0px solid #000;
    width: 1024px;
    height: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
